{
  "presets": [
    "babel-preset-latest",
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    [
      "babel-plugin-transform-runtime",
      {
        polyfill: false,
        regenerator: true,
      }
    ]
  ]
}